@import "../../index.scss";

.cards {
  width: 100%;
  transition: $transition;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-items: stretch;
  align-items: stretch;

  @include lg-lapt {
    grid-column-gap: 1.6rem;
    grid-row-gap: 1.6rem;
  }

  @include lg-tab {
    grid-template-columns: 1fr 1fr;
  }

  @include xlg-phone {
    grid-template-columns: 1fr;
  }

  @include sm-phone {
    grid-row-gap: 1rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #ffffff;
  border: 1px solid rgba(237, 242, 247, 1);
  border-radius: 14px;
  padding: 1.6rem;
  transition: $transition;
  min-width: 239px;
  max-height: 181px;

  &__icons {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: #898989;
    font-size: 1.6rem;
    font-weight: 400;
  }
  &__value {
    color: #3a3f51;
    font-size: 2.2rem;
    font-weight: 500;
  }
  &__analytics {
    display: flex;
    align-items: center;
    gap: 1rem;

    &--percent {
      display: flex;
      padding: 4px 8px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      border-radius: 1000px;
    }

    &--prev {
      color: #606060;
      font-family: Inter;
      font-size: 1.3rem;
      font-weight: 300;
    }
  }
}
